.btn-blue {
background-color: #c5d86d;
padding: 12px 17px;
border-radius: 5px;
font-weight: bold;
font-family: 'Lora';
font-size: size 20px;
color: #eaf6f6;
}

.btn-blue:hover {
background-color: #e3f3ac;
color: #222831;
}